@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Global Variables*/
$main-font: 'Montserrat', sans-serif;
$main-color: #181818;
$box-color: #262a2b;
/*Typography*/
body{
    font-family: $main-font;
}
/*bootstrap clasess rest */
.container-fluid{
    padding: 0 60px;
}
/* Header */
.main-header{
    background-color: $main-color;
    padding: 30px 0;
    .row{
        align-items: center;
    }
    &--nav-menu{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        ul{
            padding-left: 0;
            list-style: none;
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                    color: #fff;
                    padding: 10px 15px;
                    font-size: 22px;
                    line-height: 25px;
                    transition: all .5s;
                    border: 2px solid $main-color;
                    border-radius: 20px;
                    font-weight: 300;
                    &:hover{
                        border-color: #fff;
                        background-color: #3a3a3a;
                    }
                }
            }
        }
    }
}

/* Home first section */
#home{
    &-top{
        max-height: 660px;
        background: $main-color;
        position: relative;
        .card-wrapper{
            min-height: 800px;
            background-image: url('../../img/home-bg2.png');
            background-position: center left;
            background-size: cover;
            border-radius: 40px;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: stretch;
            &--textbox{
                display: flex;
                align-items: center;
                background-color: rgba(255,255,255,0.5);
                padding-left: 50px;
                max-width: 50%;
            }
            .card-wrapper--texbox--group__title{
                    font-size: 37px;
                    line-height: 47px;
                    margin-bottom: 40px;
                
            }
            .card-wrapper--texbox--group__btn{
                background-color: $main-color;
                font-size: 24px;
                padding: 5px 45px;
                font-weight: 300;
                color: #fff;
                border: 2px solid $main-color;
                border-radius: 20px;
                transition: all .5s;
                &:hover{
                    background-color: #3a3a3a;
                    border-color: #fff;
                }
            }
            &--img{
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
    &-bottom{
        position: relative;
        padding-bottom: 80px;
        .bottom-text{
            text-align: center;
            &--img{
                display: block;
                text-align: left;
                position: relative;
                left: 0;
                margin-bottom: 70px;
                img{
                    max-height: 385px;
                }
            }
            &--title{
                font-size: 36px;
                line-height: 43px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            &--text{
                font-size: 35px;
                line-height: 43px;
                font-weight: 200;
                margin-bottom: 20px;
            }
        }
    }
}
/*Cities slider*/
#cities-slider{
    .cities-slider--city{
        &--top{
            min-height: 670px;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
        }
        &--bottom{
            background-color: $main-color;
            color: #fff;
            padding-top: 100px;
            .cities-slider--city--bottom__card{
                background-color: $box-color;
                border-radius: 50px;
                text-align: center;
                padding-top: 50px;
                padding-left: 40px;
            }
        }
        .city--new-york{
            background-image: url('../../img/slider-new-york.png');
        }
        .city--miami{
            background-image: url('../../img/slider-miami.png');
        }
        .city--madrid{
            background-image: url('../../img/slider-madrid.png');
        }
        .city--others{
            background-image: url('../../img/slider-others.png');
        }
    }
}

#travel{
    .travel-panel--icon{
        img{
            max-height: 200px;
        }
    }
    &--top{
        max-height: 660px;
        background: $main-color;
        position: relative;
        padding-top: 20px;
        .travel-banner{
            min-height: 720px;
            background-image: url("../../img/travel-banner.png");
            background-position: center;
            background-size: cover;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: stretch;
            &--box{
                display: flex;
                align-items: center;
                background-color: rgba(255,255,255,0.5);
                padding-left: 80px;
                width: 50%;
                max-width: 50%;
            }
            .travel-banner--box--group__title{
                font-size: 51px;
                line-height: 63px;
                margin-bottom: 40px;
                font-weight: 500;
            }
        }
    }
    &--mid{
        padding-top: 180px;
        padding-bottom: 40px;
        .travel-panel{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .travel-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            button{
                border: none;
                background-color: #fff;
                display: block;
                position: relative;
                text-align: center;
                width: 100%;
                transition: all .5s;
                &:before{
                    content: '';
                    height: 10px;
                    width: 80%;
                    background-color: $main-color;
                    opacity: .1;
                    position: absolute;
                    top: 40%;
                    left: 10%;
                    border-radius: 50px;
                }
                &[aria-expanded="true"]{
                    img{
                        transform: rotate(0deg);
                    }
                }
                img{
                    max-height: 50px;
                    transform: rotate(180deg);
                }
            }
            &--info{
                min-height: 341px;
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
    &--bottom{
        background-color: $main-color;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 40px;
        .travel-panel{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .travel-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            button{
                border: none;
                background-color: $main-color;
                display: block;
                position: relative;
                text-align: center;
                width: 100%;
                transition: all .5s;
                &:before{
                    content: '';
                    height: 10px;
                    width: 80%;
                    background-color: #3a3a3a;
                    position: absolute;
                    top: 40%;
                    left: 10%;
                    border-radius: 50px;
                    z-index: 0;
                }
                &[aria-expanded="true"]{
                    img{
                        transform: rotate(180deg);
                    }
                }
                img{
                    max-height: 50px;
                    position: relative;
                    z-index: 1;
                }
            }
            &--info{
                min-height: 341px;
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
}
#services{
    .services-panel--icon{
        img{
            max-height: 200px;
        }
    }
    &--top{
        max-height: 660px;
        background: $main-color;
        position: relative;
        padding-top: 20px;
        .services-banner{
            min-height: 720px;
            background-image: url("../../img/services-bg.png");
            background-position: center;
            background-size: cover;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: stretch;
            &--box{
                display: flex;
                align-items: center;
                background-color: rgba(255,255,255,0.5);
                padding-left: 80px;
                width: 50%;
                max-width: 50%;
            }
            .services-banner--box--group__title{
                font-size: 51px;
                line-height: 63px;
                margin-bottom: 40px;
                font-weight: 500;
            }
        }
    }
    &--mid{
        padding-top: 180px;
        padding-bottom: 40px;
        .services-panel{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .services-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            &--info{
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
    &--bottom{
        background-color: $main-color;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 80px;
        .services-panel{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .services-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            &--info{
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
}
#protection{
    .protection-panel--icon{
        img{
            max-height: 200px;
        }
    }
    &--top{
        max-height: 660px;
        background: $main-color;
        position: relative;
        padding-top: 20px;
        .protection-banner{
            min-height: 720px;
            background-image: url("../../img/protection.png");
            background-position: center;
            background-size: cover;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: stretch;
            &--box{
                display: flex;
                align-items: center;
                background-color: rgba(255,255,255,0.5);
                padding-left: 80px;
                width: 50%;
                max-width: 50%;
            }
            .protection-banner--box--group__title{
                font-size: 51px;
                line-height: 63px;
                margin-bottom: 40px;
                font-weight: 500;
            }
        }
    }
    &--mid{
        padding-top: 180px;
        padding-bottom: 40px;
        .protection-panel{
        
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .protection-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            button{
                border: none;
                background-color: #fff;
                display: block;
                position: relative;
                text-align: center;
                width: 100%;
                transition: all .5s;
                &:before{
                    content: '';
                    height: 10px;
                    width: 80%;
                    background-color: $main-color;
                    opacity: .1;
                    position: absolute;
                    top: 40%;
                    left: 10%;
                    border-radius: 50px;
                }
                &[aria-expanded="true"]{
                    img{
                        transform: rotate(0deg);
                    }
                }
                img{
                    max-height: 50px;
                    transform: rotate(180deg);
                }
            }
            &--info{
                
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
    &--bottom{
        background-color: $main-color;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 40px;
        .protection-panel{
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .protection-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            button{
                border: none;
                background-color: $main-color;
                display: block;
                position: relative;
                text-align: center;
                width: 100%;
                transition: all .5s;
                &:before{
                    content: '';
                    height: 10px;
                    width: 80%;
                    background-color: #3a3a3a;
                    position: absolute;
                    top: 40%;
                    left: 10%;
                    border-radius: 50px;
                    z-index: 0;
                }
                &[aria-expanded="true"]{
                    img{
                        transform: rotate(180deg);
                    }
                }
                img{
                    max-height: 50px;
                    position: relative;
                    z-index: 1;
                }
            }
            &--info{
                min-height: 341px;
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
}
#benefits{
    .benefits-panel--icon{
        img{
            max-height: 200px;
        }
    }
    &--top{
        max-height: 660px;
        background: $main-color;
        position: relative;
        padding-top: 20px;
        .benefits-banner{
            min-height: 720px;
            background-image: url("../../img/benefits.png");
            background-position: center;
            background-size: cover;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: stretch;
            &--box{
                display: flex;
                align-items: center;
                background-color: rgba(255,255,255,0.5);
                padding-left: 80px;
                width: 50%;
                max-width: 50%;
            }
            .benefits-banner--box--group__title{
                font-size: 51px;
                line-height: 63px;
                margin-bottom: 40px;
                font-weight: 500;
            }
        }
    }
    &--mid{
        padding-top: 180px;
        padding-bottom: 40px;
        .benefits-panel{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .benefits-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            button{
                border: none;
                background-color: #fff;
                display: block;
                position: relative;
                text-align: center;
                width: 100%;
                transition: all .5s;
                &:before{
                    content: '';
                    height: 10px;
                    width: 80%;
                    background-color: $main-color;
                    opacity: .1;
                    position: absolute;
                    top: 40%;
                    left: 10%;
                    border-radius: 50px;
                }
                &[aria-expanded="true"]{
                    img{
                        transform: rotate(0deg);
                    }
                }
                img{
                    max-height: 50px;
                    transform: rotate(180deg);
                }
            }
            &--info{
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
    &--bottom{
        background-color: $main-color;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 40px;
        .benefits-panel{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .col-3{
                text-align: center;
            }
            .collapse span, .show span, .benefits-panel--info__text{
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
            }
            .collapse{
                border: none;
            }
            &--info{
                &__title{
                    font-size: 38px;
                    line-height: 43px;
                    font-weight: 500;
                    margin-bottom: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        height: 1px;
                        width: 118px;
                        background-color: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -20px;
                        opacity: 0.5;
                    }
                }
                &__text{
                    margin-bottom: 40px;
                }
            }
        }
    }
}


#footer{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 80px;
}